* {
  margin: 0;
  flex-basis: 100%;
}
/* Kargo Yazısı*/
.kargobedava {
  width: 100½;
  height: 30px;
  padding-top: 10px;
  background-color: rgb(0, 82, 77);
  color: azure;
  display: flex;
}
.kargobedava i {
  padding-right: 30px;
  padding-top: 3px;
}
.kargobedava h3 {
  text-align: center;
  cursor: pointer;
}
/* Menü */
/* Add a black background color to the top navigation bar */
.topnav {
  background-color: #e9e9e9;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.topnav h3 {
  margin: revert;
  font-size: 30px;
  color: rgb(0, 82, 77) rgb(71, 9, 9);
}
.topnav h3:hover {
  cursor: pointer;
}
.topnav h3 {
  text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: rgb(0, 82, 77);
  color: white;
}
/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  width: -webkit-fill-available;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 10px;
}
.tel {
  text-align: center;
  cursor: pointer;
}
/* Orta Alan*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f9f5eb;
}

.container {
  margin: 20px;
}

.enust {
  height: 100px;
  background-color: #607eaa;
  background: url("https://www.gloriajeans.com.tr/assets/images/slider/slider3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto;
  flex: 1;
  height: 510px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kutu1 {
  display: flex;
  background: url("https://images.deliveryhero.io/image/fd-tr/LH/x88w-hero.jpg");

  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 10px;
  height: 308px;
  margin: 20px;
  padding: 20px;
}

.kutu1 {
  display: flex;
  background: url("./nsk.jpg");
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 10px;
  height: 308px;
  margin: 20px;
  padding: 20px;
}
.kutu1 h1 {
  font-size: 60px;

  color: #f9f5eb;
  font-weight: bold;
}

.kutu2 {
  display: flex;
  background-color: #eae3d2;
  background: url("./8e9428eeafad9db7102d8e9e18083a6b.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 10px;
  height: 308px;
  margin: 20px;
  padding: 20px;
}

.kutu3 {
  display: flex;
  background-color: #eae3d2;
  background: url("./coffee.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 10px;
  height: 308px;
  margin: 20px;
  padding: 20px;
}
.kutu2 h3 {
  color: #eae3d2;
  font-size: 42px;

  text-align: center;
  padding-top: 90px;
  font-weight: bold;
}

.tekli100 {
  height: 250px;
  background: url("https://wallpapers4screen.com/Uploads/21-1-2016/7005/thumb2-blue-brick-backgrounds-texture-wall.jpg");
  background-color: #1c3879;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  outline: 1px solid black;
  margin: 20px;
}
.tekli100 h3 {
  color: #eae3d2;
  font-size: 50px;
  padding-top: 25px;
  padding-left: 10px;
  text-align: center;
}

.bosluk {
  height: 150px;
  flex: 1;

  margin: 20px;
}
.bosluk h1 {
  text-align: center;
  font-size: 65px;
  padding-top: 15px;
  color: #1c3879;
}

.ucsol {
  background-color: #eae3d2;
  outline: 1px solid black;
  border-radius: 30px;
  background: url("https://wallpapers4screen.com/Uploads/21-1-2016/7005/thumb2-blue-brick-backgrounds-texture-wall.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  height: 440px;
  margin: 50px;
  color: #eae3d2;
}
.ucsol h3 {
  text-align: center;
  font-size: 45px;
}
.ucsol a {
  color: #eae3d2;
  font-size: 40px;
  text-decoration: none;
}

.ucorta {
  background-color: #eae3d2;
  background-image: url("./kahveeee.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: 1px solid black;
  border-radius: 30px;
  flex: 1;
  height: 440px;
  margin: 50px;
}

.ucsag {
  background: url("https://wallpapers4screen.com/Uploads/21-1-2016/7005/thumb2-blue-brick-backgrounds-texture-wall.jpg");
  outline: 1px solid black;
  border-radius: 30px;
  flex: 1;
  height: 440px;
  margin: 50px;
  color: #eae3d2;
}
.ucsag h3 {
  text-align: center;
  font-size: 45px;
}
.ucsag a {
  color: #eae3d2;
  font-size: 40px;
  text-decoration: none;
}

.bosluk2 {
  height: 220px;
  flex: 1;

  margin: 20px;
}
.bosluk2 h3 {
  font-size: 30px;
  text-align: center;
  color: #607eaa;
}
.bosluk2 h1 {
  font-size: 100px;
  text-align: center;
  color: #1c3879;
}

@media screen and (max-width: 650px) {
  .row > * {
    flex-basis: 100%;
  }
}
/* Forum */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="gonder"] {
  background-color: #1c3879;
  color: #f9f5eb;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 9%;
}
input[type="gonder"]:hover {
  background-color: #607eaa;
  transition: all ease-in 0.3s;
}
/* .container {
  border-radius: 5px;
  background-color: #eae3d2;
  padding: 20px;
  width: 40%;
} */
h1 {
  color: #1c3879;
  font-family: "Montserrat", sans-serif;
}
h4 {
  color: #607eaa;
  font-family: "Montserrat", sans-serif;
}
/* Footer */
.footer1genel {
  background-color: rgb(28, 56, 121);
  color: white;
}

.footer1 {
  display: inline-block;
  background-color: rgb(28, 56, 121);
  width: 33%;
  height: 500px;
}
.footer1 h2 {
  margin-left: 50px;
  margin-top: 120px;
}
.footer1 i {
  background-color: rgb(28, 56, 121);
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
}
.footer1 p {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 30px;
}
.footer1 h3 {
  font-size: 24px;
  margin-left: 50px;
  margin-top: 30px;
}

.footer2 {
  display: inline-block;
  background-color: rgb(28, 56, 121);
  width: 33%;
  height: 500px;
  vertical-align: top;
}

.footer3 {
  display: inline-block;
  background-color: rgb(28, 56, 121);
  width: 33.3%;
  height: 500px;
  vertical-align: top;
}
.footer2 h2 {
  margin-left: 70px;
  margin-top: 120px;
}
.footer2 a {
  color: white;
  text-decoration: none;
  margin-left: 70px;
  font-size: 18px;
}
.footer2 table {
  margin-top: 50px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.footer3 h2 {
  margin-left: 200px;
  margin-top: 120px;
}
.footer3 a {
  color: white;
  text-decoration: none;
  margin-left: 200px;
  font-size: 18px;
}
.footer3 i {
  background-color: rgb(28, 56, 121);
  color: white;
  margin-right: 50px;
  margin-top: 50px;
  font-size: 20px;
}

.footer2genel {
  background-color: white;
  width: 100%;
  height: 100px;
}

.footer2genel p {
  color: rgb(0, 82, 77);
  font-size: 18px;
  padding-top: 20px;
  margin-left: 50px;
}
